/*** header ***/
#navver {
  background-color: #effaff;
}

#header-brand {
  color: #242e33;
}

#home, #search, #profile, #yourAds, #logOff {
  color: #242e33;
}

#header-brand:hover {
  background-color: #2babe2;
}

#home:hover, #search:hover, #profile:hover, #yourAds:hover, #logOff:hover {
  background-color: #2babe2;
}

img#yeti {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

/*** jumbotron header ***/
#header{
  background-color: #effaff;
  text-align: center;
  border: solid #337ab7 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#title {
  color: #242e33;
}

/*** body content ***/
.row {
  margin-right: 0px;
  margin-left: 0px;
}

body{
  background-color: #2babe2;
}

h4 {
  color: #242e33;
}

/*** map content ***/

#map {
  height: 600px;
  width: 100%;
}
    
#content {
  background-color: #effaff;
  border: solid #337ab7 1px;
  border-radius: 5px;
}

#list{
  background-color: white;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: blue;
  border-width: 1px;
}
/*#map{
  background-color: white;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: blue;
  border-width: 1px;
}*/
img{
  display: block;
    margin: auto;
}
#createAdd{
  border-radius: 5px;
}

#logOff{
  border-radius: 5px;
}