body{
  background-color: silver;
}

.container{

}

#map {
  height: 600px;
  width: 100%;
}
    
#header{
  background-color: white;
  text-align: center;
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

#content{
  
  background-color: lightblue;
  border-style: solid;
  border-radius: 5px;
  border-color: red;
  border-width: 1px;
}

#list{
  background-color: white;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: blue;
  border-width: 1px;
}
/*#map{
  background-color: white;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: blue;
  border-width: 1px;
}*/
img{
  display: block;
    margin: auto;
}